*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    min-width: 90%;
}

.upper{
    position: fixed;
    top: 0px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
    /* border-width : 1px;
    border-color: rgba(0,0,0,0.02);
    border-style: solid; */
    border: 1px solid #DBDBDB;
}

.insta{
    width: 105px;
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 235px;
}

.search:focus{
    outline: none;
    padding-left: 15px;
    width: 275px;
}

.search:focus ~ .glass{
    display: none;
}

.search{
    padding-left: 40px;
    background-color: #EFEFEF;
    border: 1px #EFEFEF;
    border-radius: 9px;
    width: 250px;
    height: 37px;
    font-size: 16px;
    margin-right: 100px; 
    color: #A4A4A4;
    min-width: 250px;
    
}

.glass{
    position: relative;
    color: #A4A4A4;
    right: 380px;
}


.function{

    display: flex;
    justify-content: space-between;
    font-size: 25px;
    width: 15%;

}

.icon{
    color: black;
}

.space{
    position: relative;
    top: 5px;
    width: 100%;
    height: 60px;

}

.story{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #DBDBDB;
    width: 40%;
    height: 100px;
    margin-top: 25px;
    background-color: white;
    margin-bottom: 25px;
    min-width: 40%;
}

.story_group{
    display: flex;
    flex-direction: row;
}

.circleImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
}

.picture{
    width: 54px;
    height: 54px;
    max-width: 54px;
    border-radius: 50%;
    border: 3px solid white;
}

.circle1{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0%);
    border-radius: 50%;
    border-image: linear-gradient(to right, red 0%, orange 100%);
    border-image-slice: 1;
    border: 1px solid transparent;
    margin-bottom: 21px;
    margin-right: 1px;
}

.circle2{
    position: relative;
    width: 60px;
    height: 60px;
    border: 3px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(to right, orange 0%,  #C92D8B 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.post{
    background-color: white;
    /* border-width : 1px;
    border-color: rgba(0,0,0,0.02);
    border-style: solid; */
    border: 1px solid #DBDBDB;
    width: 40%;
    align-items: center;
    min-width: 30%;

}

.profile_img{
    width: 19%;
    margin-left: 15px;
    margin-right: 15px;
}

.profileBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.me{
    display: flex;
    align-items: center;
}

.ellip{
    margin-right: 15px;
}



.cat{
    width: 100%;
    height: 600px;
}

.cat_name{
    color: black;
}

.bot_func{
    margin-bottom: 25px;
    margin-top: 15px;
    margin-left: 15px;
}

.action2{
    margin-right: 15px;
    
}

.act{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: black;
    margin-bottom: 20px;
}

.action1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 17%;
}

.view{
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 900;
}

.detail{
    margin-bottom: 10px;
    font-size: 15px;
    margin-top: 10px;
    
}

.name{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 900;
    margin-top: 10px;
    color: black;
}

.made{
    margin-bottom: 15px;
    font-size: 10px;    
}

.divider{
    display: flex;
    width: 100%;
    height: 0px;
    border: 1px solid #DBDBDB;
    border-bottom: none;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
}

.smile{
    font-size: 25px;
    margin-right: 15px;
}

.posting{
    font-size: 14px;
    border: 1px white
    
}



.comment_group{
    display: flex;
    justify-content: start;
    align-items: center;
}

.comment_container{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
}

.submit{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 15px;
    color: #B3DFFC;
    font-weight: bold;
    justify-content: flex-end;
}
